body {
  background-color: #DEDEDE;
  min-width: 250px;
}
.template {
  padding: 40px 15px;
  text-align: center;
}

@font-face {
    font-family: 'amerika_sansregular';
    src: url('../fonts/AMERSN__-webfont.eot');
    src: url('../fonts/AMERSN__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AMERSN__-webfont.woff') format('woff'),
         url('../fonts/AMERSN__-webfont.ttf') format('truetype'),
         url('../fonts/AMERSN__-webfont.svg#amerika_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bellotaregular';
    src: url('../fonts/Bellota-Regular-webfont.eot');
    src: url('../fonts/Bellota-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bellota-Regular-webfont.woff') format('woff'),
         url('../fonts/Bellota-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Bellota-Regular-webfont.svg#bellotaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* Menu */

.navbar {
	background-color: #48555E;
	font-family: 'amerika_sansregular';
	height: 70px;
	max-width: 100%;
	min-width: 250px;
}

.navbar-inverse .navbar-brand,
span.navbar-brand,
span.navbar-brand:hover,
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
	color: #C6B712;
	color: #10B1E2;
	font-size: 2em;
}


.navbar-brand span#last_name{
	color: #10B1E2;
	color: #C6B712;
	display: block;
	font-size: 1em;
	line-height: 30px;
}



.navbar-nav {
    margin-top: 25px;
    font-size: 18px;
}
.navbar-header a.redes {
	display: none;
}

#navbar a.redes {
	float: right;
	margin-right: 10px;
	margin-top: 20px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
	background: none;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    margin-right: 50px;
}


@media(max-width: 600px){
	.navbar-brand span#last_name{
		display: inline;
	}
	.navbar {		
		height: 50px;
	}
	.navbar-nav {
	    margin-top: 0px;
	}
	.navbar-inverse .navbar-nav>li>a {
		color: #121212;
	}
	.nav>li {
		background: #1577B7;
  		filter: alpha(opacity=70);
		filter: progid: DXImageTransform.Microsoft.Alpha(opacity=70);
  		-moz-opacity: 0.70;
  		opacity: 0.7;
	}

	.navbar-brand {
		margin-top: -10px;
		padding-right: 5px;
	}


	.navbar-header a.redes {
		display:inline-block;
    	margin-top: 10px;
    }
    .navbar-header a.redes:first-of-type {
	    margin-left: 15px;
	}

	#navbar a.redes {
		display: none;
	}
}

@media(max-width: 450px){
	.navbar-inverse .navbar-brand,
span.navbar-brand,
span.navbar-brand:hover,
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
		font-size: 1.8em;
	}

	.navbar-inverse .navbar-toggle {    
	    margin-right: 5px;
	}
}

@media(max-width: 400px){
	.navbar-inverse .navbar-brand,
span.navbar-brand,
span.navbar-brand:hover,
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
		font-size: 1.5em;
	}

    .navbar-header a.redes:first-of-type {
	    margin-right: 10px;
	}

	.navbar-brand {
		margin-top: -5px;
	}

	.navbar-inverse .navbar-toggle {    
	    margin-right: 2px;
	}
}

@media(max-width: 350px) {
	.navbar-inverse .navbar-brand,
span.navbar-brand,
span.navbar-brand:hover,
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{	
		font-size: 1.25em;
	}
}

@media(max-width: 319px) {
	.navbar-header a.redes {
		display: none;
	}
}


/* Contacto */

.br {
	display: block;
}

.top {
	margin-top: 10px;
}

.bottom {
	margin-bottom: 10px;
}

.tab {
	padding-left: 20px;
}

.template {
	margin: 0 auto;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;	
	min-width: 250px;
}

.contact-template {
	font-family: 'bellotaregular';
	max-width: 1200px;
}

.info_contact {
	float: left;
	width: 30%;
	text-align: justify;
	font-size: 18px;
}

.form_contact .title_form,
.info_contact .title_info{	
	display: block;
	margin: 0 auto;
	text-align: center;
	text-decoration: underline;
	font-size: 20px;
}

.info_contact span:not(.title_info) {
	display: block;
	margin-bottom: 10px;
}

.info_contact span.last {
	display: inline;
	margin-bottom: 0;
	cursor: pointer;
	background: #C6B712;
}

.info_contact a:hover{
	text-decoration: none;
}

.form_contact {
	float: right;
	width: 68%;
	text-align: justify;
	font-size: 14px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.rotate {
  	animation-name: spin;

  	animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.form_contact span.label-success{
	font-size: 18px;
	display: block;
	width: 120px;
	height: 40px;
	line-height: 35px;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
}


@media(max-width: 1200px) {
	.template {
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media(max-width: 1024px) {
	.info_contact {
		font-size: 16px;
	}
}

@media(max-width: 850px) {
	.template {
		max-width: 100%;
	}

	.info_contact {	
		width: 100%;
		margin-bottom: 20px;
	}

	.form_contact .title_form,
	.info_contact .title_info{	
		text-align: left;
	}

	.form_contact span.label-success{
		float: left;
	}

	.form_contact {
		clear: both;
		float: none;
		width: 100%;
	}
}

@media(max-width: 400px) {
	
	.template {
		padding-left: 10px;
		padding-right: 10px;
	}

	.info_contact {
		font-size: 14px;
	}
}


/* Porfolio */

.porfolio-template {
	max-width: 1500px;
}

.proyecto {
	margin: 0 auto;
	text-align: center;
	width: 250px;
	height: 400px;
	overflow: hidden;
	display: inline-block;
	font-family: 'bellotaregular';
	text-align: left;
	margin-bottom: 20px;
	margin-right: 25px;
}


.proyecto span.title_projecto {
	display: block;
	font-size: 16px;
	font-weight: 600;
}

.proyecto > a {
	display: block;
	font-size: 14px;
	text-decoration: none;
	text-align: left;	
	width: 148px;
	margin-top: 5px;
}
.proyecto > a:not(.btn) {
	text-align: center
}

.proyecto>a img {
	max-height: 155px;
	width: auto;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.proyecto>a img:hover {
    transform: scale(1.025);
}

@media(max-width: 700px) {
	.proyecto {
	    margin-right: 0px;
	}
}

@media(max-width: 605px) {
	.proyecto {
		margin-left: 30px;
		margin-right: 30px;
	    overflow: auto;
	    height: auto;
	    padding-bottom: 20px;
	    margin-bottom: 30px;
	    border-bottom: 1px solid #10B1E2;
	}

	.proyecto:last-of-type {
	    border-bottom: 0;
	}
}

@media(max-width: 400px) {
	.proyecto {
		margin-left: 0px;
		margin-right: 00px;
	}

}

/* Curriculim */

.presentacion {
	font-size: 18px;
	text-align: left;	
	margin-left: 30px;
}

.presentacion span {
	margin-bottom: 10px;
}

.cv-template {
	font-family: 'bellotaregular';
	max-width: 1200px;
}

.cv-template ul { 
	list-style: none;
}

.datos_personales {
	text-align: center;
}

.datos_personales #foto {	
	float: left;
	width: 100px;
	height: 100px;
	background-image: url('../img/foto.png');
	background-repeat: no-repeat;
	margin-left: 30px;
}

.datos_personales .info_datos {
	text-align: left;
	margin-left: 40px;
	font-size: 20px;
	float: left;
}

.datos_personales span.last {
	display: inline;
	margin-bottom: 0;
	cursor: pointer;
	background: #C6B712;
}

@media(max-width: 550px) {

	.cv-template ul { 
		margin-left: 0;
		padding-left: 0;
	}
	.datos_personales #foto {	
		text-align: center;
		float: none;
		margin: 0 auto;
	}

	.datos_personales .info_datos {
    	font-size: 18px;
    	margin-left: 0;
	}
    
}

@media(max-width: 350px) {
	.datos_personales .info_datos {
    	font-size: 16px;
	}

	.datos_personales #telefono_contacto {
		font-size: 15px;
	}
}


.experiencia,
.formacion {
	clear: both;
}

.formacion ul {
	text-align: left;
}

.formacion ul .no-enlace{
	font-size: 18px;
	font-weight: 600;
}

.no-enlace.mat{
	font-weight: 300;
}

.experiencia ul {
	text-align: left;
}

.experiencia ul .no-enlace,
.experiencia ul li>a{
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
}


ul.cursos {
	text-align: left;
}

ul.cursos li{ 
	margin-bottom: 10px;
}

ul.cursos a{ 
	text-decoration: none;
	font-weight: 600;
	display: block;
}


ul.cursos .no-enlace {
	font-weight: 600;
	display: block;
}

.formacion ul .no-enlace {
	font-weight: 600;
	display: block;
}

.formacion ul .no-enlace.mat{
	font-weight: 300;
    font-size: 16px;
}

@media(max-width: 600px) {
	.formacion ul .no-enlace{
		font-size: 16px;
	}
}


  nav a.router.selected{ 
    color: #fff;
  }

  div.router { 
    display: none;
  }
  
  div.router.selected { 
    display: block;
  }

  #formacionComplementaria {
    display: none;
  }

  #formacionComplementaria.selected { 
    display: block;
  }

  @media(max-width: 600px) {
    #navbar{
      position: fixed;
      z-index: -1;      
      width: 100%;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 1s, opacity 1s linear;
    }

    #navbar.show {
      z-index: 500;
      visibility: visible;
      opacity: 1;
      transition: opacity 1s linear;
    }
  }

.title_game {
  display: block;
  font-size: 16px; 
  font-weight: 600; 
  margin-bottom: 15px;
}

.template_game {
	display: flex;
	flex-direction: column; 
	align-items: center;
}

.js .download{
	display: none;
}