<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <link rel="icon" href="./favicon.ico">

    <meta name="theme-color" content="#ffffff" />

    <!-- for Google -->
    <meta name="description" content="Juegos para Javascript, ZX Spectrum, ZX81 y Chip-8">
    <meta name="keywords" content="juegos, games, js, javascript, speccy, ZX Spectrum, ZX81, chip8, Chip-8, octo" />

    <meta name="author" content="Salvador Camacho" />
    <title>Salvacam</title>

  <!-- Para desarollo -->
  <!--
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/font-awesome.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  -->

  <!-- Para produccion -->
  <link href="css/style.min.css" rel="stylesheet">

</head>

<body>
  <div class="navbar">
    <div class="button_lang">
      <button type="button" id="spanish" class="btn btn-info active">Español</button>
      <button type="button" id="english" class="btn btn-info">English</button>
    </div>
    <div class="navbar_center">
      <div>
        <img src="img/logo.png" class="img-rounded navbar_center_img" alt="Logo">
      </div>
      <div>
        <span id="last_name" class="navbar_center_text">Salvacam</span>
      </div>
    </div>
    <div class="button_type">
      <button type="button" id="chip8" class="btn btn-primary">Chip-8</button>
      <button type="button" id="zx81" class="btn btn-primary">ZX81</button>
      <button type="button" id="speccy" class="btn btn-primary">Spectrum</button>
      <button type="button" id="js" class="btn btn-primary">Javascript</button>
      <button type="button" id="all" class="btn btn-primary active"><span class="ingles hidden">All</span><span class="espanol">Todos</span></button>
    </div>
  </div>

  <div class="aboutMe-container template" >
    <button type="button" id="aboutMe" class="btn btn-show">
      <span class="ingles hidden">About me <span class="hidden showAboutMe">(show)</span><span class="hideAboutMe">(hide)</span></span>
      <span class="espanol">Sobre mi <span class="hidden showAboutMe">(mostrar)</span><span class="hideAboutMe">(ocultar)</span></span>
    </button>

    <div id="aboutMeDescription" class="" style="border-bottom: 1px solid #48555E;">

      <div class="espanol">

        <p>
          En mi tiempo libre hago, entre otras cosas, juegos para <b>Javascript</b>, <b>ZX Spectrum</b>, <b>ZX81</b> y <a href="https://es.wikipedia.org/wiki/CHIP-8" target="blank"><b>Chip-8</b></a>.
        </p>
        <p>
          Los juegos estan realizados con <b>Phaser</b>, <b>Basic</b>, <b>Boriel ZX Basic</b>, <b>Z88DK</b> o <a href="https://github.com/JohnEarnest/Octo" target="blank"><b>Octo</b></a>.
        </p>

        <p>
          Esta web no tiene cookie ni recopila datos.
        </p>

        <p>
          Tengo otra web que te puede interesar, es un blog en español sobre novedades del ZX81 <a class="btn btn-info" href="https://zx81hoy.gitlab.io" target="_blank" rel="noopener">
            <i class="fa fa-rss"></i>  ZX81 hoy</a>
        </p>
      
        <p>
          Si quieres ponerte en contacto conmigo puedes <a class="btn btn-info" href="mailto:salvacams at gmail.com"><i class="fa fa-envelope"></i>  mandarme un correo</a> (Modifica el enlace)
        </p>

      </div>

      <div class="ingles hidden">
        <p>
          In my free time I make, among other things, games for <b>Javascript</b>, <b>ZX Spectrum</b>, <b>ZX81</b> and <a href="https://en.wikipedia.org/wiki/CHIP-8" target="blank"><b>Chip-8</b></a>.
        </p>
        <p>
          The games are made with <b>Phaser</b>, <b>Basic</b>, <b>Boriel ZX Basic</b>, <b>Z88DK</b> or <a href="https://github.com/JohnEarnest/Octo" target="blank"><b>Octo</b></a>.
        </p>
        <p>
          This website does not have cookies or collect data
        </p>

        <p>
          I have another website that may interest you, it is a blog in Spanish about ZX81 news <a class="btn btn-info" href="https://zx81hoy.gitlab.io" target="_blank" rel="noopener">
            <i class="fa fa-rss"></i>  ZX81 hoy</a>
        </p>
      
        <p>
          If you want to contact me you can send me an email <a class="btn btn-info" href="mailto:salvacams at gmail.com"><i class="fa fa-envelope"></i>  send me an email</a> (Modify the link)
        </p>

      </div>

    </div>
  </div>
  
  <div class="porfolio-template template" id="porfolio-content"></div>s  
  
  <!-- Template -->

  <script id="gameTemplate" type="x-template">      
      <div class="img-container">
        <img width="225" height="auto" src="img/{{img}}" class="img-rounded" alt="{{title}}"/>      
      </div>
      <span class="title_projecto">{{title}}</span>
      <div class="description-container espanol">
        <span class="br">{{text}}</span>
      </div>
      <div class="description-container ingles hidden">
        <span class="br">{{textEN}}</span>
      </div>
      <span class="br br-lite">{{platform}}</span>
      <a class="btn btn-info" href="./asset/{{src}}" target="_blank" rel="noopener">
        <i class="fa fa-book"></i> <span class="ingles hidden">{{Code}}</span><span class="espanol">{{Codigo}}</span> 
      </a>
      
      <a class="btn btn-info download" href="./asset/{{tap}}" target="_blank" rel="noopener">
        <i class="fa fa-cloud-download"></i> <span class="ingles hidden">Download</span><span class="espanol">Descargar juego</span>
      </a>

      {%if speccy%}
      <a class="btn btn-info" href="speccy.html?tzx={{speccy}}&title={{title}}" target="_blank" rel="noopener">
        <i class="fa fa-gamepad"></i> <span class="ingles hidden">Play</span><span class="espanol">Jugar online</span>
      </a>
      {%endif%}

      {%if zx81%}
      <a class="btn btn-info" href="zx81/zx81.html?id={{zx81}}&title={{title}}" target="_blank" rel="noopener">
        <i class="fa fa-gamepad"></i> <span class="ingles hidden">Play</span><span class="espanol">Jugar online</span>
      </a>
      {%endif%}

      {%if chip8%}
      <a class="btn btn-info" href="chip8/index.html?id={{chip8}}&title={{title}}" target="_blank" rel="noopener">
        <i class="fa fa-gamepad"></i> <span class="ingles hidden">Play</span><span class="espanol">Jugar online</span>
      </a>
      {%endif%}

      {%if js%}
      <a class="btn btn-info" href="js_game/index.html?id={{js}}&title={{title}}" target="_blank" rel="noopener">
        <i class="fa fa-gamepad"></i> <span class="ingles hidden">Play</span><span class="espanol">Jugar online</span>
      </a>
      {%endif%}
  </script>

  <script type="text/javascript" src="./js/main.js"></script>

</body>
</html>


